# VncSharpCore is in 1Remote.sln but Ui.csproj takes VNC from the 1Remote.VncSharpCore NuGet package,
# not from this project. Keep the submodule anyway: it is how a patched VNC control gets built and
# compared locally. See DEVELOP.md.
[submodule "VncSharpCore"]
	path = VncSharpCore
	url = https://github.com/1Remote/VncSharpCore.git
[submodule "Shawn.Utils"]
	path = Shawn.Utils
	url = https://github.com/VShawn/Shawn.Utils.git
[submodule "Dragablz"]
	path = Dragablz
	url = https://github.com/1Remote/Dragablz.git
[submodule "PuTTY"]
	path = Ui/Resources/PuTTY
	url = https://github.com/1Remote/PuTTY.git
